@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --black: #1b1a1a52;
  --royal_blue: #102688;
  --light_marine_blue: #1d2450;
  --blue_purple: #06060a;
  --purple: rgb(34, 36, 146);
  --white: #fff;
  --primary: #1430ad;
  --principal: #3f74af;
  --principal50: rgba(63, 115, 175, 0.5);
  --principal30: rgba(63, 115, 175, 0.3);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue_purple);
  color: var(--white);
}
.container-sm {
  margin: 80px 0;
  display: flex;
  border-radius: 23px;
  overflow: hidden;
  border: 1px solid #fff;
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;
}

.container-sm:hover {
  box-shadow: 2px 2px 40px rgba(84, 93, 187, 0.2);
  border: 1px solid rgba(84, 93, 187);
}

.form {
  display: flex;
  flex-grow: 1; /* Ocupa todo o espaço disponível dentro do contêiner pai */
  padding: 3rem 2.5rem;
}

.form form {
  width: 100%; /* Garante que o próprio formulário ocupe todo o espaço disponível */
}

.form-header {
  margin-bottom: 0.8rem;
}

.login-button {
  display: flex;
  align-items: center;
}

.login-button button {
  border: none;
  background-color: var(--purple);
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.login-button button:hover {
  background-color: var(--light_marine_blue);
}

.login-button button a {
  text-decoration: none;
  font-weight: 500;
  color: var(--white);
}

.form-header h1::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: var(--purple);
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: 10px;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.aviso-obrigatorio {
  font-size: 12px;
  color: #ffffffa4;
  margin-bottom: 10px;
}

.obrigatorio {
  color: red;
}

.input-box input {
  /* margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  width: 12rem; */
  border: none;
  border-radius: 10px;
  background-color: rgb(206, 203, 203);
}
.input-box input:hover {
  background-color: rgb(223, 215, 215);
}

.input-box input:focus-visible {
  outline: 2px solid var(--purple);
}

.input-box input::placeholder {
  color: #000000be;
}

.gender-group {
  display: flex;
  justify-content: space-around;
  margin-top: 0.62rem;
  padding: 0 0.5rem;
}

.gender-input {
  display: flex;
  align-items: center;
  color: var(--white);
}

.gender-input input {
  margin-right: 0.15rem;
}
.gender-input {
  margin-right: 10px;
}
.gender-inputs h6 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
}
.gender-input label {
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--white);
}
#button-excluir-selecionados
{
  background-color: rgb(116, 8, 8);
  margin-top: 0.5rem;
  margin-left: 2rem;
  border: none;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
 
}
.continue-button button
{
  width: 100%;
}
.continue-button button,
#button-exibir{
  margin-top: 0.5rem;
  border: none;
  background-color: var(--purple);
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#button-exibir
{
  margin-left: 1rem;
}

#button-exibir:hover,
.continue-button button:hover {
  background-color: var(--light_marine_blue);
}

#button-exibir,
.continue-button button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-style: 500;
  color: #fff;
}

.header-area-back {
  position: absolute;
  top: 10px;
  left: 10px;
}

.back-to-home {
  text-decoration: none;
}

.back-to-home .back-text {
  font-size: 16px;
  color: rgba(223, 217, 242, 0.8);
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

.back-to-home .back-text:hover {
  color: #1c2e7e;
}

.back-to-home .arrow {
  margin-right: 5px;
}

.back-to-home:hover .arrow {
  transform: translateX(-5px);
}

@media screen and (max-width: 1330px) {
  .form-img {
    display: none;
  }
  .container {
    width: 50%;
  }
  .form {
    width: 100%;
  }
}

@media screen and (max-width: 1064px) {
  .container {
    width: 90%;
    height: 40rem;
  }
  form {
    width: 60vw;
    height: 30rem;
  }
  .input-group {
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    flex-wrap: nowrap;
    max-height: 20rem;
    padding-right: 1rem;
    padding-left: 2rem;
  }
}
label {
  color: white;
}

.input-box select {
  width: 10rem;
  border-radius: 23px;
  height: 2rem;
  background-color: rgb(206, 203, 203);
}
.input-box select:hover {
  background-color: rgb(223, 215, 215);
}
.input-box select:focus-visible {
  outline: 2px solid var(--purple);
}
.input-box textarea {
  margin-top: 0.75rem;
  resize: none;
  width: 12rem;
  border-radius: 10px;
  height: 2.5rem;
  background-color: rgb(206, 203, 203);
}
.input-box textarea:hover {
  background-color: rgb(223, 215, 215);
}
.input-box textarea:focus-visible {
  outline: 2px solid var(--purple);
}
.diminuir {
  font-size: 0.9rem;
}

.genero select {
  width: 15rem;
  padding: 5px;
}

.escolaridade select {
  width: 15rem;
}
#senha-invalid p {
  width: 100%;
  text-align: justify;
  color: rgb(206, 53, 53);
}
@media screen and (max-width: 768px) {
  .genero select {
    width: 14rem;
    padding: 5px;
  }

  .escolaridade select {
    width: 14rem;
  }
}
@media screen and (max-width: 452px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .form {
    overflow-y: auto;
  }
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light_marine_blue);
  border: none;
  align-items: center;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  overflow-x: hidden;
}
dialog p {
  color: white;
  text-align: center;

}
.dialog-item {
  width: 100%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bt-action {
  border: none;
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 10px;
  height: 40px;
  width: 60px;
  color: white;
  background-color: rgba(0, 0, 0, 0.637);
}
.bt-action:hover {
  background-color: black;
  box-shadow: 2px 2px 10px 1px white;
}
.container-exibir {
  margin-top: 0;
}

.button-exibir-div {
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
}

.btnExcluir:hover
{
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  color: var(--white);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 0;
  transition: all 5s ease;
}
th,
td {
  align-items: center;
  padding: 10px;
}
tr:not(:last-child) {
  border-bottom: 1px solid white; /* Linha branca entre cada registro */
}

.exibirDados {
  width: 100%;
  overflow-x: auto;
}

/* Estilos da barra de rolagem */
.exibirDados::-webkit-scrollbar {
  height: 12px; /* Altura da barra de rolagem horizontal */
}
.exibirDados::-webkit-scrollbar-thumb {
  background-color: rgba(
    255,
    255,
    255,
    0.6
  ); /* Cor do "polegar" da barra de rolagem */
  border-radius: 10px; /* Cantos arredondados do "polegar" */
}
.exibirDados::-webkit-scrollbar-thumb:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Cor do "polegar" ao passar o mouse */
}
.exibirDados::-webkit-scrollbar-track {
  background-color: var(
    --light_marine_blue
  ); /* Cor do trilho da barra de rolagem */
  border-radius: 10px;
}
